/* 
@font-face {
  font-family: 'Rye';
  src: url(./Rye-Regular.ttf);
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rye&display=swap');

/* 1. Use a more-intuitive box-sizing model */
html {
  font-family: 'Montserrat';
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* font-family: 'Rye'; */
  /* visibility: hidden; */
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: black;
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

header {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 4rem;
  text-wrap: wrap;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown_button {
  font-size: 2rem;
  padding: 5px 10px;

  border-radius: 10px;
}
.dropdown_button:hover {
  background-color: bisque;
}

.dropdown_menu {
  display: none;
  position: fixed;
  flex-direction: column;

  font-size: 2rem;
}

.dropdown_menu a {
  width: 200px;
  margin-top: 5px;

  border-radius: 10px;

  text-decoration: none;
  text-indent: 1.5rem;

  background-color: rgb(191, 198, 212);
}

.dropdown_menu a:hover {
  background-color: bisque;
}
/* /////////////////////////////////////////////////////// */
/* carousel navigation */
/* /////////////////////////////////////////////////////// */
.carousel {
  margin-top: 100px;
}
.carousel_navigation {
  display: flex;
  gap: 10px;
}
.carousel_navigation li {
  list-style-type: none;
  font-size: 2rem;
  color: black;
}
